@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-10px">Sistema de Cadastro</h1>
    <p class="text-justify mt-5">
        Lorem ipsum quam aliquet curabitur conubia urna, arcu ante integer diam eros porta, habitant pulvinar pretium fermentum hendrerit. netus taciti rutrum accumsan suspendisse lorem curabitur sapien tellus hac, arcu curae phasellus dolor sit euismod vel nec, egestas vitae viverra aptent venenatis aliquam maecenas tortor. dapibus curabitur faucibus venenatis bibendum placerat feugiat convallis fusce, metus ad quis odio eleifend ultrices vestibulum curae etiam, ad ut fermentum luctus egestas curae phasellus. placerat donec nostra venenatis porta tortor at aenean aliquam, blandit congue suscipit arcu ornare risus imperdiet est, bibendum rutrum pretium convallis eros vulputate porta.
    </p>
</div>
